.sidebar {
background: #020203;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
position: absolute;
width: 117px;
height: 100vh;
left: 0px;
top: 90px;
@media screen and (max-width: 1460px) {
    width: 80px;
    
}
    h3 {
        color:#FFFFFF;
        transform: rotate(270deg);
        font-size: 12px;
        font-weight: 500;
        min-width: 150px;
        position: absolute;
        left: 79%;
        right: 78.5%; 
        top: 67.24%;
        bottom: 6.42%;
    }       
}
.icon-yoga, .icon-swim, .icon-bike, .icon-weight {
    height: 64px;
    width: 64px;
    margin-bottom: 20px;
    @media screen and (max-width: 1460px) {
        margin-right:0;
        height: 40px;
        width: 40px;
        margin-top:1rem;
    }
    :hover {
        cursor: pointer;
    }
}
.icon-group {
    padding-top: 13rem;
    padding-left: 1.5rem;
}