.salutation-name {
position: absolute;
left: 15%;
top: 13%;
font-weight: 500;
font-size: 48px;
color:#000000;
@media screen and (max-width: 1460px) {
    font-size: 32px;
  }

}

.name {
    color:#FF0101;
    margin-left:1rem;
    position: absolute;
    left: 29%;
    top: 16.5%;
    font-weight: 500;
    font-size: 48px;
    @media screen and (max-width: 1460px) {
        padding-left:1rem;
        font-size: 32px;
        left: 24%;
        top: 16%;
    }
}
.congratulations {
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    left: 15%;
    top: 21%;
    @media screen and (max-width: 1460px) {
        margin-bottom:0;
    }
}
.content-flex {
    display: flex;
    flex-direction: row;
    margin-left:10rem;
    margin-top:12rem;
    justify-content: space-around;
    @media screen and (max-width: 1460px) {
        margin-top:8rem;
    }
    
}
.calories-proteines-glucides-lipides { 
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1460px) {
        margin-left:-3rem;
    }
   
}
.calories, .proteines, .glucides, .lipides {
    height: 224px;
    width: 258px;
    margin-bottom: 39px;
    margin-right: 6rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
   
}
.poids-ojectif-radar-kpi {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1440px) {
        margin-left:-4rem;
    }
}
.poids-activité {
    position: relative;top: 35px; left: 85px;
    font-size: 15px;
    font-weight: 500;
    color:#20253A;
}
.poids {
    min-width: 800px;
    height: 320px;
    
    @media screen and (max-width: 1440px) {
        min-width: 400px;
        height: 240px;
    }
    
}

.objectif, .radar, .kpi {
    width: 32%;
}
.obj-rad-pki-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
.icon-calories, .icon-proteines, .icon-glucides, .icon-lipides {
    height: 80px;
    width: 80px;
    @media screen and (max-width: 1460px) {
        padding-top:1rem;
    }
    
}
.weight-name{
    font-weight: 500;
    font-size:14px;
    color:#74798C;
    @media screen and (max-width: 1460px) {
        font-size:10px;

    }
    
}
.weight {
    font-weight: 700;
    font-size:20px;
    color:#282D30;
    @media screen and (max-width: 1460px) {
        font-size:12px;

    }
}
.name-weight-flex {
    display: flex;
    flex-direction: column;
    padding-left:1rem;
    padding-top:1rem;
    @media screen and (max-width: 1460px) {
        padding-left:5px;
    }

}
.Calories, .Protéines, .Glucides, .Lipides {
    display: flex;
    flex-direction:row;
    margin-left:1rem;
    margin-bottom: 4rem;
    margin-top:2rem;
    @media screen and (max-width: 1460px) {
        margin-bottom: 1rem;
        margin-left:0;
    }
    img {
        height: 80px;
        width: 80px;
        margin-right: 1rem;
        @media screen and (max-width: 1460px) {
            margin-right:0;
            height: 40px;
            width: 40px;
            margin-top:1rem;
        }
    }
   
}
.kpi{
    width: 30%;
    
}
.poids {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 1460px) {
       width: 700px;
    }
}

.poids-activité {
    font-weight: 500;
    font-size: 15px;
    color:#20253A;
    list-style: none;
}
.poids-poids {
    font-weight: 500;
    font-size: 14px;
    color:#282D30; //couleur puce
    span {
        color:#74798C; //couleur texte
    } 
}
.poids-calories {
    font-weight: 500;
    font-size: 14px;
    color:#E60000; //couleur puce
    span {
        color:#74798C; //couleur texte
    } 
}
.value-simplebar {
    color:#74798C;
}

.objectif {
    background-color: #FF0000;
    border-radius: 5px;
    margin-right:30px;
    h3 {
        font-size: 15px;
        color:#FFFFFF;
        margin-left:34px;
        margin-top:29px;
        margin-right: 1rem;
    }
}
.radar {
    background-color:#282D30 ;
    border-radius: 5px;
    margin-right:30px;
    list-style: none;
    color:#FFFFFF;
    font-weight: 500;
    font-size:10.5px; 
    
    @media screen and (max-width: 1460px) {
        font-size:6.7px; 
        font-weight: 400;
        padding-right:0.6rem;
        padding-left:0.6rem;
    }
}
.radar-ul-style {
    list-style: none;
}
.score-info {
   
    h3 {
        font-weight: 500;
        font-size: 15px;
        color:#20253A;
        position: relative;
        top:10px;
        left:-275px;
        @media screen and (max-width: 1460px) {
        left:-70px;
        top:30px;
        }
    }
    .score-objectif {
        font-weight: 700;
        font-size: 26px;
        position: relative;
        top:10px;
        left:-200px;
        color:#282D30;
        @media screen and (max-width: 1460px) {
            left:-70px;
            }
    }
    span {
        position: relative;
        top:-10px;
        left:-200px;
        font-size: 16px;
        color:#74798C;
        font-weight: 500;
        @media screen and (max-width: 1460px) {
            left:-70px;
            }
    }
}
//style linechart
.recharts-layer  {
    line {
        display: none;
    }
}
.recharts-cartesian-axis-tick {
   
line {
    display: none;
}

}
g {
    color:#FFFFFF;
}

.tooltip {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    border: none!important;
}
.recharts-tooltip-wrapper {
    border: none!important;
}
.recharts-polar-grid-angle {
    display:none;
}
.tooltip-activity {
    margin-left:1rem;
    background-color: #E60000;
    color: white;
    width: 40px;
    height: 65px;
    font-weight: 500;
    font-size: 7px;
   
        outline: "none";
      
}
.tooltip-activity-kg {
    padding-left: 0.5rem;
    padding-right: 1rem ;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.tooltip-activity-kcal {
   padding-left: 0.5rem;
   padding-right: 1rem ;
}
.recharts-legend-wrapper {
    @media screen and (max-width: 1460px) {
        margin-right:2rem;
    }
}
.user {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}